body{
	background-color: lightblue;
	margin: 0px;
}

#menu{
	position: relative;
	height: 180px;
	margin: auto;
	padding: 10px;
	background-color: #660000;
	border-style: solid;
	border-width: 5px;
	border-color: #000;
	position: static;
}


.logo {
	margin-right: 20px;
    width: 180px;
    height: 180px;
    float: left;
}

.logo img {
    width: 100%;
    height: auto;
}

.menubutton{
	margin-right: 20px;
	margin-top: 50px;
	background-color: #888;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 48px;
	padding: 10px;
	color: #660000;
	text-decoration: none;
	float: left;
}

.headers{
	margin-top: 10px;
	margin-left: 20px;
	font-size: 32px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 5px;
}

.texts{
	margin-left: 20px;
	font-size: 24px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 5px;
}

table{
	width: 75%;
	margin: 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 24px;
	border-style: solid;
	border-width: 5px;
	border-color: #000;
	border-collapse: collapse;
}

th{
	height: 25px;
	padding: 5px;
	border: 3px;
	border-style: solid;
	border-width: 5px;
	border-color: #000;
	background-color: #4CAF50;
    color: white;
}

td{
	height: 25px;
	padding: 5px;
	border: 3px;
	border-style: solid;
	border-width: 5px;
	border-color: #000;
}


tr:nth-child(even){
	background-color: #f2f2f2;
}

.jerseyphoto{
	vertical-align: top;
    display: inline-block;
    text-align: center;
}

.jerseyphoto img {
    width: 500px;
    height: 500px;
}

.phototext {
    display: block;
    font-size: 24px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.jerseys{
	font-size: 24px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
